<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 05</h1>
    <h3 align="center">Dataframe Styling</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

C:\Users\SENA\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
pd.__version__

'1.5.1'

## Import Dataset & Make Dataframe

In [3]:
df = pd.read_csv('stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

## Dataframe Styling

In [4]:
df.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [5]:
format_dict = {'Close':'${:.2f}', 'Volume':'{:,}'}

In [6]:
df.style.format(format_dict)

In [9]:
(df.style.format(format_dict)
 .hide_index()
 .highlight_min('Close', color='red')
 .highlight_max('Close', color='lightgreen')
)

<ipython-input-9-cc3b62c1f5df>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  (df.style.format(format_dict)

In [10]:
(df.style.format(format_dict)
 .hide_index()
 .background_gradient(subset='Volume', cmap='Blues')
)

<ipython-input-10-be941f29305a>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  (df.style.format(format_dict)

In [11]:
(df.style.format(format_dict)
 .hide_index()
 .bar('Volume', color='lightblue', align='zero')
 .set_caption('Stock Prices from October 2016')
)

<ipython-input-11-17e7940d59fc>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  (df.style.format(format_dict)

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />