<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 16</h1>
    <h3 align="center">Jalali DateTime in Pandas</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Installing Jalali pandas

In [27]:
pip install -U jalali-pandas

Collecting jalali-pandasNote: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProxyError('Cannot connect to proxy.', timeout('_ssl.c:1091: The handshake operation timed out'))': /simple/jalali-pandas/

  Downloading jalali_pandas-0.2.2-py3-none-any.whl (17 kB)
Collecting jdatetime<4.0.0,>=3.6.4
  Downloading jdatetime-3.8.2-py3-none-any.whl (13 kB)
Installing collected packages: jdatetime, jalali-pandas
Successfully installed jalali-pandas-0.2.2 jdatetime-3.8.2

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.1'

## DateTime in Pandas

* The date-time default format is “YYYY-MM-DD”. Hence, November 15th, 2022, in the date format will be presented as “2022-11-15”. The datetime format can be changed and by changing we mean changing the sequence and style of the format.

Where, format is a string representing the type of required date format. 

* For year %y 
* For month %m
* For day %d

In [4]:
date_sr = pd.Series(pd.date_range('2022-11-15', periods=3, freq='D', tz='Asia/Tehran'))

# Creating the index
list1 = ['Day 1', 'Day 2', 'Day 3']

# set the index
date_sr.index = list1
change_format = date_sr.dt.strftime('%d,%m,%Y')

print(change_format)

Day 1    15,11,2022
Day 2    16,11,2022
Day 3    17,11,2022
dtype: object

In [5]:
# change in date time format
date_sr = pd.to_datetime(pd.Series("2022-11-15"))
change_format = date_sr.dt.strftime('%d/%m/%Y')

print(change_format)

0    15/11/2022
dtype: object

In [6]:
# change in date time format
date_sr = pd.to_datetime(pd.Series("2022-11-15"))
change_format = date_sr.dt.strftime('%d-%m-%Y')

print(change_format)

0    15-11-2022
dtype: object

In [7]:
df = pd.DataFrame({'date': ['3/10/2022', '3/11/2022', '3/12/2022'],
                   'value': [100, 200, 300]})
df['date'] = pd.to_datetime(df['date'])
df

        date  value
0 2022-03-10    100
1 2022-03-11    200
2 2022-03-12    300

In [8]:
df = pd.DataFrame({'date': ['3/10/2022', '3/11/2022', '3/12/2022'],
                   'value': [100, 200, 300]})

df['date'] = pd.to_datetime(df['date'], dayfirst=True)
df

        date  value
0 2022-10-03    100
1 2022-11-03    200
2 2022-12-03    300

In [9]:
df = pd.DataFrame({'date': ['2022-6-10 20:30:0', 
                            '2022-7-1 19:45:30', 
                            '2022-10-12 4:5:1'],
                   'value': [100, 200, 300]})
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
df

                 date  value
0 2022-10-06 20:30:00    100
1 2022-01-07 19:45:30    200
2 2022-12-10 04:05:01    300

### Assemble a datetime from multiple columns

In [10]:
df = pd.DataFrame({'year': [2022, 2023],
                   'month': [2, 3],06
                   'day': [4, 5]})
df['date'] = pd.to_datetime(df)
df

   year  month  day       date
0  2022      2    4 2022-02-04
1  2023      3    5 2023-03-05

### Get year, month, and day

In [20]:
df = pd.DataFrame({'name': ['Soheil', 'Mahtab', 'Baran'],
                 'DoB': ['10-09-1989', '06-28-2020', '06-28-2022']})
df['DoB'] = pd.to_datetime(df['DoB'])

In [21]:
df['year']= df['DoB'].dt.year
df['month']= df['DoB'].dt.month
df['day']= df['DoB'].dt.day
df

     name        DoB  year  month  day
0  Soheil 1989-10-09  1989     10    9
1  Mahtab 2020-06-28  2020      6   28
2   Baran 2022-06-28  2022      6   28

In [22]:
df['week_of_year'] = df['DoB'].dt.week
df['day_of_week'] = df['DoB'].dt.dayofweek
df['is_leap_year'] = df['DoB'].dt.is_leap_year
df

,name,DoB,year,month,day,week_of_year,day_of_week,is_leap_year
0,Soheil,1989-10-09,1989,10,9,41,0,False
1,Mahtab,2020-06-28,2020,6,28,26,6,True
2,Baran,2022-06-28,2022,6,28,26,1,False

In [23]:
dw_mapping={
    0: 'Saturday',
    1: 'Sunday',
    2: 'Monday', 
    3: 'Tuesday', 
    4: 'Wednesday', 
    5: 'Thursday', 
    6: 'Friday'
} 
df['day_of_week_name']=df['DoB'].dt.weekday.map(dw_mapping)
df

,name,DoB,year,month,day,week_of_year,day_of_week,is_leap_year,day_of_week_name
0,Soheil,1989-10-09,1989,10,9,41,0,False,Saturday
1,Mahtab,2020-06-28,2020,6,28,26,6,True,Friday
2,Baran,2022-06-28,2022,6,28,26,1,False,Sunday

In [24]:
dw_mapping={
    0: 'شنبه',
    1: 'یکشنبه',
    2: 'دوشنبه', 
    3: 'سه شنبه', 
    4: 'چهارشنبه', 
    5: 'پنجشنبه', 
    6: 'جمعه',
} 
df['روز هفته']=df['DoB'].dt.weekday.map(dw_mapping)
df

,name,DoB,year,month,day,week_of_year,day_of_week,is_leap_year,day_of_week_name,روز هفته
0,Soheil,1989-10-09,1989,10,9,41,0,False,Saturday,شنبه
1,Mahtab,2020-06-28,2020,6,28,26,6,True,Friday,جمعه
2,Baran,2022-06-28,2022,6,28,26,1,False,Sunday,یکشنبه

In [25]:
today = pd.to_datetime('today')
df['age'] = today.year - df['DoB'].dt.year
df

,name,DoB,year,month,day,week_of_year,day_of_week,is_leap_year,day_of_week_name,روز هفته,age
0,Soheil,1989-10-09,1989,10,9,41,0,False,Saturday,شنبه,33
1,Mahtab,2020-06-28,2020,6,28,26,6,True,Friday,جمعه,2
2,Baran,2022-06-28,2022,6,28,26,1,False,Sunday,یکشنبه,0

In [26]:
# Year difference
today = pd.to_datetime('today')
diff_y = today.year - df['DoB'].dt.year

# Haven't had birthday
b_md = df['DoB'].apply(lambda x: (x.month,x.day) )
no_birthday = b_md > (today.month,today.day)
df['age'] = diff_y - no_birthday
df

,name,DoB,year,month,day,week_of_year,day_of_week,is_leap_year,day_of_week_name,روز هفته,age
0,Soheil,1989-10-09,1989,10,9,41,0,False,Saturday,شنبه,33
1,Mahtab,2020-06-28,2020,6,28,26,6,True,Friday,جمعه,2
2,Baran,2022-06-28,2022,6,28,26,1,False,Sunday,یکشنبه,0

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />