<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 18</h1>
    <h3 align="center">Explode in Pandas</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [13]:
import warnings
warnings.filterwarnings("ignore")

In [14]:
import pandas as pd

In [15]:
pd.__version__

'1.5.1'

In [23]:
d = {"Team":["FC Barcelona", "FC Real Madrid"], 
    "Players":[["Ter Stegen", "Semedo", "Piqué", "Lenglet", "Alba", "Rakitic", "De Jong", "Sergi Roberto", "Messi", "Suárez", "Griezmann"], \
               ["Courtois", "Carvajal", "Varane", "Sergio Ramos", "Mendy", "Kroos", "Valverde", "Casemiro", "Isco", "Benzema", "Bale"]]}

In [24]:
#Notice that we have a list of players for each team. Let's generate a row for each player.
df = pd.DataFrame(d)
df

             Team                                            Players
0    FC Barcelona  [Ter Stegen, Semedo, Piqué, Lenglet, Alba, Rak...
1  FC Real Madrid  [Courtois, Carvajal, Varane, Sergio Ramos, Men...

In [25]:
#Using explode to generate new rows for each player
df1 = df.explode("Players")
df1

             Team        Players
0    FC Barcelona     Ter Stegen
0    FC Barcelona         Semedo
0    FC Barcelona          Piqué
0    FC Barcelona        Lenglet
0    FC Barcelona           Alba
0    FC Barcelona        Rakitic
0    FC Barcelona        De Jong
0    FC Barcelona  Sergi Roberto
0    FC Barcelona          Messi
0    FC Barcelona         Suárez
0    FC Barcelona      Griezmann
1  FC Real Madrid       Courtois
1  FC Real Madrid       Carvajal
1  FC Real Madrid         Varane
1  FC Real Madrid   Sergio Ramos
1  FC Real Madrid          Mendy
1  FC Real Madrid          Kroos
1  FC Real Madrid       Valverde
1  FC Real Madrid       Casemiro
1  FC Real Madrid           Isco
1  FC Real Madrid        Benzema
1  FC Real Madrid           Bale

In [26]:
#Reverse this operation with groupby and agg
df["Imploded"] = df1.groupby(df1.index)["Players"].agg(list)
df

,Team,Players,Imploded
0,FC Barcelona,"[Ter Stegen, Semedo, Piqué, Lenglet, Alba, Rak...","[Ter Stegen, Semedo, Piqué, Lenglet, Alba, Rak..."
1,FC Real Madrid,"[Courtois, Carvajal, Varane, Sergio Ramos, Men...","[Courtois, Carvajal, Varane, Sergio Ramos, Men..."

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />