<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 09</h1>
    <h3 align="center">Query</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

C:\Users\SENA\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
pd.__version__

'1.5.1'

In [13]:
import warnings
warnings.filterwarnings('ignore')

## Import Dataset & Make Dataframe

In [4]:
df = pd.read_csv('stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

In [8]:
df[df.Symbol == 'AAPL']

         Date   Close    Volume Symbol
1  2016-10-03  112.52  21701800   AAPL
3  2016-10-04  113.00  29736800   AAPL
8  2016-10-05  113.05  21453100   AAPL

In [9]:
df.query("Symbol == 'AAPL'")

         Date   Close    Volume Symbol
1  2016-10-03  112.52  21701800   AAPL
3  2016-10-04  113.00  29736800   AAPL
8  2016-10-05  113.05  21453100   AAPL

In [14]:
df.groupby('Symbol').mean()

             Close        Volume
Symbol
AAPL    112.856667  2.429723e+07
CSCO     31.480000  1.477983e+07
MSFT     57.433333  1.866727e+07

In [15]:
temp = df.groupby('Symbol').mean()
temp[temp.Close < 100]

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

In [16]:
df.groupby('Symbol').mean().query('Close < 100')

            Close        Volume
Symbol
CSCO    31.480000  1.477983e+07
MSFT    57.433333  1.866727e+07

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />