<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 21</h1>
    <h3 align="center">Keep Track of Where data is coming</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
pd.__version__

'1.4.4'

## Make Dataframe

In [4]:
def generate_sample_data(): # creates a fake df for testing
    number_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeIntIndex(number_rows)
    return df

In [5]:
# let's generate some fake data
df1 = generate_sample_data()
df2 = generate_sample_data()
df3 = generate_sample_data()

In [6]:
df1.head()
# df2.head()
# df3.head()

    A   B  C   D   E  F
0   1   8  4   2  21  7
1   9   6  8  13   2  4
2   9   7  1   2  24  1
3  16  10  5  11  21  6
4  10  22  2   8  12  5

In [7]:
df1.to_csv("trick21_1.csv")
df2.to_csv("trick21_2.csv")
df3.to_csv("trick21_3.csv")

In [8]:
pwd

'C:\\Users\\soso\\Desktop\\Maktbakhoone\\Pandas Trick'

In [9]:

# Step 1 generate list with the file name
lf = []
for _,_, files in os.walk("C:\\Users\\soso\\Desktop\\Maktbakhoone\\Pandas Trick"):
    for f in files:
        if "trick21" in f:
            lf.append(f)
            
lf

['trick21_1.csv', 'trick21_2.csv', 'trick21_3.csv']

In [10]:
df = pd.concat((pd.read_csv(file).assign(filename = file) for file in lf), ignore_index = True)
df.sample(10)

    Unnamed: 0   A   B   C   D   E   F       filename
44          19   4  22   5  21  20   9  trick21_2.csv
73          23  16  17   9  10   8   9  trick21_3.csv
43          18  17  13  16  18   3   5  trick21_2.csv
25           0  11   6   1  10   7  20  trick21_2.csv
24          24  23   6  15  18   3  19  trick21_1.csv
46          21  24  11  16   9  21   9  trick21_2.csv
42          17  21  24  20  19  10  16  trick21_2.csv
20          20  18   9   5   5   1   6  trick21_1.csv
33           8   9  14  19  23  15   7  trick21_2.csv
12          12  10  20  13  21  11   2  trick21_1.csv

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />