<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 03</h1>
    <h3 align="center">Covert Data - Continuous</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

## Import Dataset & Make Dataframe

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Covert Data - Continuous

In [5]:
pd.cut(df.age, bins=[0, 18, 25, 99], labels=['Child', 'Young', 'Old']).head(10)

0      Old
1    Child
2    Child
3      Old
4    Young
5      Old
6      Old
7      Old
8      Old
9      Old
Name: age, dtype: category
Categories (3, object): [Child < Young < Old]

In [6]:
pd.qcut(df.age, q=3).head(10)

0     (23.0, 34.0]
1    (0.169, 23.0]
2    (0.169, 23.0]
3     (23.0, 34.0]
4     (23.0, 34.0]
5     (34.0, 80.0]
6     (34.0, 80.0]
7     (34.0, 80.0]
8     (34.0, 80.0]
9     (34.0, 80.0]
Name: age, dtype: category
Categories (3, interval[float64]): [(0.169, 23.0] < (23.0, 34.0] < (34.0, 80.0]]

In [7]:
pd.qcut(df.age, q=3).value_counts()

(0.169, 23.0]    360
(34.0, 80.0]     347
(23.0, 34.0]     339
Name: age, dtype: int64

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />