<div class="alert alert-block alert-success">
    <h1 align="center">Scikit-Learn Tips</h1>
    <h3 align="center">Tip 12: GridSearch & Cross-Validation</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>


First Select an existing function (or write your own) and Convert it into a transformer using FunctionTransformer

In [11]:
import pandas as pd
import numpy as np
from sklearn.compose import make_column_transformer

from sklearn.preprocessing import FunctionTransformer

In [12]:
X = pd.DataFrame({'Fare':[10, 20, 30, 40],
                  'Code':['X12', 'Y20', 'Z7', np.nan],
                  'Deck':['A101', 'C102', 'A200', 'C300']})

### Convert existing function into a transformer:

In [13]:
clip_values = FunctionTransformer(np.clip, kw_args={'a_min':10, 'a_max':30})

### Convert custom function into a transformer:

In [14]:
# extract the first letter from each string
def first_letter(df):
    return df.apply(lambda x: x.str.slice(0, 1))

In [15]:
get_first_letter = FunctionTransformer(first_letter)

### Include them in a ColumnTransformer:

In [16]:
ct = make_column_transformer(
    (clip_values, ['Fare']),
    (get_first_letter, ['Code', 'Deck']))

### Apply the transformations:

In [17]:
X

   Fare Code  Deck
0    10  X12  A101
1    20  Y20  C102
2    30   Z7  A200
3    40  NaN  C300

In [18]:
ct.fit_transform(X)

array([[10, 'X', 'A'],
       [20, 'Y', 'C'],
       [30, 'Z', 'A'],
       [30, nan, 'C']], dtype=object)

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />