<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 07</h1>
    <h3 align="center">Rename Columns</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [6]:
import numpy as np
import pandas as pd

In [7]:
pd.__version__

'1.5.1'

## Make Dataframe

In [13]:
pd.DataFrame(np.random.rand(5, 10))

,0,1,2,3,4,5,6,7,8,9
0,0.199772,0.904957,0.255175,0.951167,0.510863,0.966948,0.120307,0.178387,0.784724,0.605961
1,0.618711,0.025123,0.869638,0.067072,0.632413,0.769025,0.304508,0.966505,0.342301,0.341284
2,0.403335,0.401799,0.586246,0.235478,0.670331,0.514342,0.103536,0.799862,0.983385,0.706489
3,0.457155,0.615906,0.555289,0.170976,0.361647,0.461585,0.236298,0.428967,0.386470,0.938207
4,0.205541,0.377415,0.699043,0.474974,0.535411,0.742980,0.941616,0.927553,0.512320,0.327327

In [17]:
pd.DataFrame(np.random.rand(5, 10), columns=list('ABCDEFGHJK'))

,A,B,C,D,E,F,G,H,J,K
0,0.599254,0.629586,0.645105,0.573650,0.666895,0.457556,0.819051,0.353892,0.793613,0.452500
1,0.525600,0.254287,0.642486,0.051753,0.246045,0.710595,0.848585,0.916593,0.755995,0.009938
2,0.796534,0.673507,0.347880,0.319531,0.878622,0.437461,0.237697,0.829257,0.359961,0.247380
3,0.951100,0.148979,0.739687,0.436073,0.326147,0.446289,0.975592,0.291681,0.594711,0.713771
4,0.167346,0.700174,0.583161,0.513428,0.984814,0.244880,0.543596,0.688457,0.057706,0.007914

## Another Solution

In [18]:
df = pd.DataFrame({'column one':[10, 20], 'column two':[30, 40]})
df

   column one  column two
0          10          30
1          20          40

In [20]:
df = df.rename({'column one':'column_one', 'column two':'column_two'}, axis='columns')
df.head()

   column_one  column_two
0          10          30
1          20          40

In [23]:
df.columns = ['col_one', 'col_two']

In [26]:
df.columns = df.columns.str.replace('_', ' ')

In [27]:
df

   col one  col two
0       10       30
1       20       40

In [28]:
df.add_prefix('X_')

   X_col one  X_col two
0         10         30
1         20         40

In [29]:
df.add_suffix('_Y')

   col one_Y  col two_Y
0         10         30
1         20         40

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />