<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 23</h1>
    <h3 align="center">Save Dataframe to CSV file</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [3]:
import pandas as pd;

In [2]:
pd.__version__

'1.5.1'

<img src = "1.PNG" width=65% />

In [11]:
my_dict = {
            'Name': ['a','b','c','d'],
            'Score': [100,200,300,0.005]
          }

df = pd.DataFrame(my_dict)
df

  Name    Score
0    a  100.000
1    b  200.000
2    c  300.000
3    d    0.005

In [12]:
df.to_csv('my_file.csv')
# df.to_csv('C:/Users/Soheil/Desktop/my_file.csv')

In [13]:
# Use Tab to seperate data
df.to_csv('my_file2.csv',sep='\t')

In [14]:
# rounded to two decimals
df.to_csv('my_file3.csv',float_format='%.2f')

In [ ]:
df.to_csv('my_file4.csv',header=False)

In [15]:
my_dict2 = {
            'Name': ['ستون چهارم','ستون سوم','ستون دوم','ستون اول'],
            'Score': [100,200,300,0.005]
          }

df = pd.DataFrame(my_dict2)
df

         Name    Score
0  ستون چهارم  100.000
1    ستون سوم  200.000
2    ستون دوم  300.000
3    ستون اول    0.005

In [16]:
df.to_csv('my_file5.csv')

In [18]:
df.to_csv('my_file6.csv', encoding='utf-8-sig')

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />