<div class="alert alert-block alert-success">
    <h1 align="center">Scikit-Learn Tips</h1>
    <h3 align="center">Tip 12: GridSearch & Cross-Validation</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>


First Select an existing function (or write your own) and Convert it into a transformer using FunctionTransformer

In [1]:
import pandas as pd
import numpy as np
from sklearn.compose import make_column_transformer

In [2]:
X = pd.DataFrame({'Fare':[200, 300, 50, 900],
                  'Code':['X12', 'Y20', 'Z7', np.nan],
                  'Deck':['A101', 'C102', 'A200', 'C300']})

In [3]:
from sklearn.preprocessing import FunctionTransformer

### Convert existing function into a transformer:

In [4]:
clip_values = FunctionTransformer(np.clip, kw_args={'a_min':100, 'a_max':600})

### Convert custom function into a transformer:

In [5]:
# extract the first letter from each string
def first_letter(df):
    return df.apply(lambda x: x.str.slice(0, 1))

In [6]:
get_first_letter = FunctionTransformer(first_letter)

### Include them in a ColumnTransformer:

In [7]:
ct = make_column_transformer(
    (clip_values, ['Fare']),
    (get_first_letter, ['Code', 'Deck']))

### Apply the transformations:

In [8]:
X

   Fare Code  Deck
0   200  X12  A101
1   300  Y20  C102
2    50   Z7  A200
3   900  NaN  C300

In [9]:
ct.fit_transform(X)

array([[200, 'X', 'A'],
       [300, 'Y', 'C'],
       [100, 'Z', 'A'],
       [600, nan, 'C']], dtype=object)

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />