<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick</h1>
    <h3 align="center">Convert Data</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

## Import Dataset & Make Dataframe

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Memory Usage in each Column (how to optimize your DataFrame storage)

#### calculating the memory used by the entire DataFrame

In [6]:
df.sex.head()

0    female
1      male
2    female
3      male
4    female
Name: sex, dtype: object

In [7]:
df['sex_num'] = df.sex.map({'male':0, 'female':1})
df.sex_num.head()

0    1
1    0
2    1
3    0
4    1
Name: sex_num, dtype: int64

In [9]:
df.embarked.head(10)

0    S
1    S
2    S
3    S
4    S
5    S
6    S
7    S
8    S
9    C
Name: embarked, dtype: object

In [10]:
df['embarked_num'] = df.embarked.factorize()[0]
df.embarked_num.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
Name: embarked_num, dtype: int64

### Factorize()
`factorize()` returns a tuple in which the first element contains the new values, which is why I had to use `[0]` to extract the values.

You can see that "S" has become 0, "C" has become 1, and "Q" has become 2. It chose that mapping based on the order in which the values appear in the Series, and if you need to reference the mapping, it's stored in the second value in the tuple:

In [12]:
df.embarked.factorize()[1]

Index(['S', 'C', 'Q'], dtype='object')

In [15]:
df.sibsp.head(10)

0    0
1    1
2    1
3    1
4    1
5    0
6    1
7    0
8    2
9    0
Name: sibsp, dtype: int64

In [17]:
df['sibsp_binary'] = (df.sibsp > 0).astype('int')
df.sibsp_binary.head(10)

0    0
1    1
2    1
3    1
4    1
5    0
6    1
7    0
8    1
9    0
Name: sibsp_binary, dtype: int32

#### Notice that the only value greater than 1 has been converted to a 1.

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />