<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 12</h1>
    <h3 align="center">Convert to Numbers</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.1'

## Import Dataset and Make Dataframe

In [4]:
df = pd.DataFrame({'Column_one':['1.1', '2.2', '3.3'],
                   'Column_two':['4.4', '5.5', '6.6'],
                   'Column_three':['7.7', '8.8', '-']})
df

  Column_one Column_two Column_three
0        1.1        4.4          7.7
1        2.2        5.5          8.8
2        3.3        6.6            -

In [5]:
df.dtypes

Column_one      object
Column_two      object
Column_three    object
dtype: object

In [6]:
df.astype({'Column_one':'float', 'Column_two':'float'}).dtypes

Column_one      float64
Column_two      float64
Column_three     object
dtype: object

In [9]:
pd.to_numeric(df.Column_three, errors='coerce')

0    7.7
1    8.8
2    NaN
Name: Column_three, dtype: float64

In [10]:
pd.to_numeric(df.Column_three, errors='coerce').fillna(0)

0    7.7
1    8.8
2    0.0
Name: Column_three, dtype: float64

## Alternative Solution

In [11]:
df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

   Column_one  Column_two  Column_three
0         1.1         4.4           7.7
1         2.2         5.5           8.8
2         3.3         6.6           0.0

In [12]:
df.dtypes

Column_one      float64
Column_two      float64
Column_three    float64
dtype: object

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />