<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 08</h1>
    <h3 align="center">How to Check Equality</h3>
    <h4 align="center"><a href="http://www.iran-machinelearning.ir">Soheil Tehranipour</a></h5>
</div>

### Importing the libraries

In [4]:
import numpy as np
import pandas as pd

In [5]:
pd.__version__

'1.5.1'

## Make Dataframe

In [7]:
df = pd.DataFrame({'First':[1,2,3,4,np.nan], 'Second':[1,2,3,4,np.nan]})
df

   First  Second
0    1.0     1.0
1    2.0     2.0
2    3.0     3.0
3    4.0     4.0
4    NaN     NaN

In [8]:
df.First == df.Second

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [9]:
np.nan == np.nan

False

In [10]:
df.First.equals(df.Second)

True

In [11]:
df_new = df.copy()
df_new.equals(df)

True

<img src="https://webna.ir/wp-content/uploads/2018/08/%D9%85%DA%A9%D8%AA%D8%A8-%D8%AE%D9%88%D9%86%D9%87.png" width=50% />